[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
bcrypt = "*"
pyjwt = "*"
validators = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
faker = "*"
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "flask --app src.main.server --debug run --reload"
